/***********************************************************/

/* ================ Main Stuff ================ */

/***********************************************************/


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #102227;
    background-image: -o-radial-gradient(left top, circle 100vw, rgba(0, 136, 160, .5) 0, rgba(0, 136, 160, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), -o-radial-gradient(left center, circle 100vw, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(0, 136, 160, .5) 0, rgba(0, 136, 160, 0) 100%), -o-radial-gradient(left center, circle 100vw, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), -o-radial-gradient(left center, circle 100vw, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(0, 136, 160, .4) 0, rgba(0, 136, 160, 0) 100%), -o-radial-gradient(left center, circle 100vw, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), -o-radial-gradient(left center, circle 100vw, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(0, 136, 160, .5) 0, rgba(0, 136, 160, 0) 100%), -o-radial-gradient(left center, circle 100vw, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), -o-radial-gradient(left center, circle 100vw, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(0, 136, 160, .4) 0, rgba(0, 136, 160, 0) 100%), -o-radial-gradient(left center, circle 100vw, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), -o-radial-gradient(left center, circle 100vw, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(0, 136, 160, .5) 0, rgba(0, 136, 160, 0) 100%), -o-radial-gradient(left center, circle 100vw, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), -o-radial-gradient(left center, circle 100vw, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(0, 136, 160, .4) 0, rgba(0, 136, 160, 0) 100%), -o-radial-gradient(left center, circle 100vw, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), -o-radial-gradient(left center, circle 100vw, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), -o-radial-gradient(right center, circle 100vw, rgba(0, 136, 160, .4) 0, rgba(0, 136, 160, 0) 100%);
    background-image: radial-gradient(circle 100vw at left top, rgba(0, 136, 160, .5) 0, rgba(0, 136, 160, 0) 100%), radial-gradient(circle 100vw at right center, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), radial-gradient(circle 100vw at left center, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), radial-gradient(circle 100vw at right center, rgba(0, 136, 160, .5) 0, rgba(0, 136, 160, 0) 100%), radial-gradient(circle 100vw at left center, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), radial-gradient(circle 100vw at right center, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), radial-gradient(circle 100vw at left center, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), radial-gradient(circle 100vw at right center, rgba(0, 136, 160, .4) 0, rgba(0, 136, 160, 0) 100%), radial-gradient(circle 100vw at left center, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), radial-gradient(circle 100vw at right center, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), radial-gradient(circle 100vw at left center, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), radial-gradient(circle 100vw at right center, rgba(0, 136, 160, .5) 0, rgba(0, 136, 160, 0) 100%), radial-gradient(circle 100vw at left center, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), radial-gradient(circle 100vw at right center, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), radial-gradient(circle 100vw at left center, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), radial-gradient(circle 100vw at right center, rgba(0, 136, 160, .4) 0, rgba(0, 136, 160, 0) 100%), radial-gradient(circle 100vw at left center, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), radial-gradient(circle 100vw at right center, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), radial-gradient(circle 100vw at left center, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), radial-gradient(circle 100vw at right center, rgba(0, 136, 160, .5) 0, rgba(0, 136, 160, 0) 100%), radial-gradient(circle 100vw at left center, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), radial-gradient(circle 100vw at right center, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), radial-gradient(circle 100vw at left center, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), radial-gradient(circle 100vw at right center, rgba(0, 136, 160, .4) 0, rgba(0, 136, 160, 0) 100%), radial-gradient(circle 100vw at left center, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), radial-gradient(circle 100vw at right center, rgba(247, 105, 6, .25) 0, rgba(247, 105, 6, 0) 100%), radial-gradient(circle 100vw at left center, rgba(28, 222, 126, .2) 0, rgba(28, 222, 126, 0) 100%), radial-gradient(circle 100vw at right center, rgba(0, 136, 160, .4) 0, rgba(0, 136, 160, 0) 100%);
    background-size: 100vw 100vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw, 100vw 200vw;
    background-position: 0 0, 100% 0, top 100vh left, top 200vh right, top 300vh left, top 400vh right, top 500vh left, top 600vh right, top 700vh left, top 800vh right, top 900vh left, top 1000vh right, top 1100vh left, top 1200vh right, top 1300vh left, top 1400vh right, top 1500vh left, top 1600vh right, top 1700vh left, top 1800vh right, top 1900vh left, top 2000vh right, top 2100vh left, top 2200vh right, top 2300vh left, top 2400vh right, top 2500vh left, top 2600vh right;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
    height: 33vw;
}

main {
    height: 60vw;
}

footer {
    height: 25vw;
}

.container {
    margin: 0 5vw;
    border: 1px solid white;
}

.header {
    position: absolute;
    left: 50%;
    top: 3em;
    width: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 1em;
    color: white;
}

.header :first-child {
    font-size: 8vw;
    margin-bottom: 0;

}

.header :nth-child(2) {
    font-size: 8vw;
    margin-top: 0;
    margin-left: 14vw;

}

.header p {
    font-size: 1.5vw;
    text-align: center;
}

/***********************************************************/

/* ================ Slider ================ */

/***********************************************************/



#slider {
    display: block;
    height: 450px;
    width: 99%;
    margin: auto;
    margin-top: 60px;
    position: relative;
}

#slider #slides {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#slider #slides>div {
    list-style: none;
    height: 100%;
    width: 500%;
    position: relative;
    left: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Set 3D perspective since we're using 3D transforms */
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 10% 50%;
    -moz-perspective-origin: 10% 50%;
    perspective-origin: 10% 50%;
}

#slides>div>span {
    /* Run the tranistions */
    -webkit-transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    -moz-transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    -o-transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    height: 300px;
    width: 5%;
    float: left;
    border-radius: 5px;
    opacity: 1;
    overflow: hidden;
    display: block;
    position: relative;
    font-size: 1.6em;
    /*top: 20px;*/
    z-index: 1;
}

/* Display none, so the user doesn't see whats happening with the radio buttons */
#slider input[type=radio] {
    display: none;
}

#slider #slides>div>span>img {
    margin: auto;
    height: 100%;
}

/* Styled arrows, so they look nice! */
#slider .arrows {
    color: #fff;
    position: absolute;
    top: 24vw;
    display: none;
    cursor: pointer;
    z-index: 9999;
    width: 45px;
    height: 25px;
    border-radius: 40px;
    text-align: center;
    padding: 7px 0 0 3px;
    border: 1px solid;

}

#slider .arrows:hover {
    box-shadow: 0 0 20px rgba(200, 235, 248, 0.98);
    transition: box-shadow .2s;
}

/* #slider .arrows::hover){
    box-shadow: 0 0 40px rgba(200, 235, 248, 0.98);
    transition: box-shadow .2s;
} */


/* This is for positioning the arrows */
#button-1:checked~#arrow-2,
#button-2:checked~#arrow-3,
#button-3:checked~#arrow-4,
#button-4:checked~#arrow-5,
#button-5:checked~#arrow-6,
#button-6:checked~#arrow-7,
#button-7:checked~#arrow-8,
#button-8:checked~#arrow-9,
#button-9:checked~#arrow-10,
#button-10:checked~#arrow-11,
#button-11:checked~#arrow-12,
#button-12:checked~#arrow-13,
#button-13:checked~#arrow-14,
#button-14:checked~#arrow-15,
#button-15:checked~#arrow-16,
#button-16:checked~#arrow-17,
#button-17:checked~#arrow-18,
#button-18:checked~#arrow-19,
#button-19:checked~#arrow-20 {
    right: 37%;
    display: block;
}

/* Since there is no previous sibling selector in CSS, we have to select the correct arrow, reposition it and rotate it 180deg so it appears as though it's a back arrow */
#button-2:checked~#arrow-1,
#button-3:checked~#arrow-2,
#button-4:checked~#arrow-3,
#button-5:checked~#arrow-4,
#button-6:checked~#arrow-5,
#button-7:checked~#arrow-6,
#button-8:checked~#arrow-7,
#button-9:checked~#arrow-8,
#button-10:checked~#arrow-9,
#button-11:checked~#arrow-10,
#button-12:checked~#arrow-11,
#button-13:checked~#arrow-12,
#button-14:checked~#arrow-13,
#button-15:checked~#arrow-14,
#button-16:checked~#arrow-15,
#button-17:checked~#arrow-16,
#button-18:checked~#arrow-17,
#button-19:checked~#arrow-18,
#button-20:checked~#arrow-19 {
    left: 37%;
    display: block;
    -webkit-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    border: 1px solid
}

#button-2:checked~#arrow-1:hover,
#button-3:checked~#arrow-2:hover,
#button-4:checked~#arrow-3:hover,
#button-5:checked~#arrow-4:hover,
#button-6:checked~#arrow-5:hover,
#button-7:checked~#arrow-6:hover,
#button-8:checked~#arrow-7:hover,
#button-9:checked~#arrow-8:hover,
#button-10:checked~#arrow-9:hover,
#button-11:checked~#arrow-10:hover,
#button-12:checked~#arrow-11:hover,
#button-13:checked~#arrow-12:hover,
#button-14:checked~#arrow-13:hover,
#button-15:checked~#arrow-14:hover,
#button-16:checked~#arrow-15:hover,
#button-17:checked~#arrow-16:hover,
#button-18:checked~#arrow-17:hover,
#button-19:checked~#arrow-18:hover,
#button-20:checked~#arrow-19:hover {
    box-shadow: 0 0 20px rgba(200, 235, 248, 0.98);
}

/* The images used in the slides, feel free to change this */
#image-1 {
    background: url("../img/image1.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-2 {
    background: url("../img/image2.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-3 {
    background: url("../img/image3.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-4 {
    background: url("../img/image4.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-5 {
    background: url("../img/image5.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-6 {
    background: url("../img/image6.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-7 {
    background: url("../img/image7.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-8 {
    background: url("../img/image8.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-9 {
    background: url("../img/image9.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-10 {
    background: url("../img/image10.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-11 {
    background: url("../img/image11.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-12 {
    background: url("../img/image12.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-13 {
    background: url("../img/image13.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}


#image-14 {
    background: url("../img/image14.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-15 {
    background: url("../img/image15.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-16 {
    background: url("../img/image16.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-17 {
    background: url("../img/image17.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-18 {
    background: url("../img/image18.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-19 {
    background: url("../img/image19.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image-20 {
    background: url("../img/image20.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* The next bit is a bit wordy, but it just positions the slides at either side of the selected slide 
   so we get a cool 3D effect */
#slider #button-1:checked~#slides>div #image-2,
#slider #button-1:checked~#slides>div #image-3,
#slider #button-1:checked~#slides>div #image-4,
#slider #button-1:checked~#slides>div #image-5,
#slider #button-1:checked~#slides>div #image-6,
#slider #button-1:checked~#slides>div #image-7,
#slider #button-1:checked~#slides>div #image-8,
#slider #button-1:checked~#slides>div #image-9,
#slider #button-1:checked~#slides>div #image-10,
#slider #button-1:checked~#slides>div #image-11,
#slider #button-1:checked~#slides>div #image-12,
#slider #button-1:checked~#slides>div #image-13,
#slider #button-1:checked~#slides>div #image-14,
#slider #button-1:checked~#slides>div #image-15,
#slider #button-1:checked~#slides>div #image-16,
#slider #button-1:checked~#slides>div #image-17,
#slider #button-1:checked~#slides>div #image-18,
#slider #button-1:checked~#slides>div #image-19,
#slider #button-1:checked~#slides>div #image-20,


#slider #button-2:checked~#slides>div #image-3,
#slider #button-2:checked~#slides>div #image-4,
#slider #button-2:checked~#slides>div #image-5,
#slider #button-2:checked~#slides>div #image-6,
#slider #button-2:checked~#slides>div #image-7,
#slider #button-2:checked~#slides>div #image-8,
#slider #button-2:checked~#slides>div #image-9,
#slider #button-2:checked~#slides>div #image-10,
#slider #button-2:checked~#slides>div #image-11,
#slider #button-2:checked~#slides>div #image-12,
#slider #button-2:checked~#slides>div #image-13,
#slider #button-2:checked~#slides>div #image-14,
#slider #button-2:checked~#slides>div #image-15,
#slider #button-2:checked~#slides>div #image-16,
#slider #button-2:checked~#slides>div #image-17,
#slider #button-2:checked~#slides>div #image-18,
#slider #button-2:checked~#slides>div #image-19,
#slider #button-2:checked~#slides>div #image-20,



#slider #button-3:checked~#slides>div #image-4,
#slider #button-3:checked~#slides>div #image-5,
#slider #button-3:checked~#slides>div #image-6,
#slider #button-3:checked~#slides>div #image-7,
#slider #button-3:checked~#slides>div #image-8,
#slider #button-3:checked~#slides>div #image-9,
#slider #button-3:checked~#slides>div #image-10,
#slider #button-3:checked~#slides>div #image-11,
#slider #button-3:checked~#slides>div #image-12,
#slider #button-3:checked~#slides>div #image-13,
#slider #button-3:checked~#slides>div #image-14,
#slider #button-3:checked~#slides>div #image-15,
#slider #button-3:checked~#slides>div #image-16,
#slider #button-3:checked~#slides>div #image-17,
#slider #button-3:checked~#slides>div #image-18,
#slider #button-3:checked~#slides>div #image-19,
#slider #button-3:checked~#slides>div #image-20,



#slider #button-4:checked~#slides>div #image-5,
#slider #button-4:checked~#slides>div #image-6,
#slider #button-4:checked~#slides>div #image-7,
#slider #button-4:checked~#slides>div #image-8,
#slider #button-4:checked~#slides>div #image-9,
#slider #button-4:checked~#slides>div #image-10,
#slider #button-4:checked~#slides>div #image-11,
#slider #button-4:checked~#slides>div #image-12,
#slider #button-4:checked~#slides>div #image-13,
#slider #button-4:checked~#slides>div #image-14,
#slider #button-4:checked~#slides>div #image-15,
#slider #button-4:checked~#slides>div #image-16,
#slider #button-4:checked~#slides>div #image-17,
#slider #button-4:checked~#slides>div #image-18,
#slider #button-4:checked~#slides>div #image-19,
#slider #button-4:checked~#slides>div #image-20,


#slider #button-5:checked~#slides>div #image-6,
#slider #button-5:checked~#slides>div #image-7,
#slider #button-5:checked~#slides>div #image-8,
#slider #button-5:checked~#slides>div #image-9,
#slider #button-5:checked~#slides>div #image-10,
#slider #button-5:checked~#slides>div #image-11,
#slider #button-5:checked~#slides>div #image-12,
#slider #button-5:checked~#slides>div #image-13,
#slider #button-5:checked~#slides>div #image-14,
#slider #button-5:checked~#slides>div #image-15,
#slider #button-5:checked~#slides>div #image-16,
#slider #button-5:checked~#slides>div #image-17,
#slider #button-5:checked~#slides>div #image-18,
#slider #button-5:checked~#slides>div #image-19,
#slider #button-5:checked~#slides>div #image-20,

#slider #button-6:checked~#slides>div #image-7,
#slider #button-6:checked~#slides>div #image-8,
#slider #button-6:checked~#slides>div #image-9,
#slider #button-6:checked~#slides>div #image-10,
#slider #button-6:checked~#slides>div #image-11,
#slider #button-6:checked~#slides>div #image-12,
#slider #button-6:checked~#slides>div #image-13,
#slider #button-6:checked~#slides>div #image-14,
#slider #button-6:checked~#slides>div #image-15,
#slider #button-6:checked~#slides>div #image-16,
#slider #button-6:checked~#slides>div #image-17,
#slider #button-6:checked~#slides>div #image-18,
#slider #button-6:checked~#slides>div #image-19,
#slider #button-6:checked~#slides>div #image-20,

#slider #button-7:checked~#slides>div #image-8,
#slider #button-7:checked~#slides>div #image-9,
#slider #button-7:checked~#slides>div #image-10,
#slider #button-7:checked~#slides>div #image-11,
#slider #button-7:checked~#slides>div #image-12,
#slider #button-7:checked~#slides>div #image-13,
#slider #button-7:checked~#slides>div #image-14,
#slider #button-7:checked~#slides>div #image-15,
#slider #button-7:checked~#slides>div #image-16,
#slider #button-7:checked~#slides>div #image-17,
#slider #button-7:checked~#slides>div #image-18,
#slider #button-7:checked~#slides>div #image-19,
#slider #button-7:checked~#slides>div #image-20,

#slider #button-8:checked~#slides>div #image-9,
#slider #button-8:checked~#slides>div #image-10,
#slider #button-8:checked~#slides>div #image-11,
#slider #button-8:checked~#slides>div #image-12,
#slider #button-8:checked~#slides>div #image-13,
#slider #button-8:checked~#slides>div #image-14,
#slider #button-8:checked~#slides>div #image-15,
#slider #button-8:checked~#slides>div #image-16,
#slider #button-8:checked~#slides>div #image-17,
#slider #button-8:checked~#slides>div #image-18,
#slider #button-8:checked~#slides>div #image-19,
#slider #button-8:checked~#slides>div #image-20,

#slider #button-9:checked~#slides>div #image-10,
#slider #button-9:checked~#slides>div #image-11,
#slider #button-9:checked~#slides>div #image-12,
#slider #button-9:checked~#slides>div #image-13,
#slider #button-9:checked~#slides>div #image-14,
#slider #button-9:checked~#slides>div #image-15,
#slider #button-9:checked~#slides>div #image-16,
#slider #button-9:checked~#slides>div #image-17,
#slider #button-9:checked~#slides>div #image-18,
#slider #button-9:checked~#slides>div #image-19,
#slider #button-9:checked~#slides>div #image-20,


#slider #button-10:checked~#slides>div #image-11,
#slider #button-10:checked~#slides>div #image-12,
#slider #button-10:checked~#slides>div #image-13,
#slider #button-10:checked~#slides>div #image-14,
#slider #button-10:checked~#slides>div #image-15,
#slider #button-10:checked~#slides>div #image-16,
#slider #button-10:checked~#slides>div #image-17,
#slider #button-10:checked~#slides>div #image-18,
#slider #button-10:checked~#slides>div #image-19,
#slider #button-10:checked~#slides>div #image-20,


#slider #button-11:checked~#slides>div #image-12,
#slider #button-11:checked~#slides>div #image-13,
#slider #button-11:checked~#slides>div #image-14,
#slider #button-11:checked~#slides>div #image-15,
#slider #button-11:checked~#slides>div #image-16,
#slider #button-11:checked~#slides>div #image-17,
#slider #button-11:checked~#slides>div #image-18,
#slider #button-11:checked~#slides>div #image-19,
#slider #button-11:checked~#slides>div #image-20,


#slider #button-12:checked~#slides>div #image-13,
#slider #button-12:checked~#slides>div #image-14,
#slider #button-12:checked~#slides>div #image-15,
#slider #button-12:checked~#slides>div #image-16,
#slider #button-12:checked~#slides>div #image-17,
#slider #button-12:checked~#slides>div #image-18,
#slider #button-12:checked~#slides>div #image-19,
#slider #button-12:checked~#slides>div #image-20,


#slider #button-13:checked~#slides>div #image-14,
#slider #button-13:checked~#slides>div #image-15,
#slider #button-13:checked~#slides>div #image-16,
#slider #button-13:checked~#slides>div #image-17,
#slider #button-13:checked~#slides>div #image-18,
#slider #button-13:checked~#slides>div #image-19,
#slider #button-13:checked~#slides>div #image-20,


#slider #button-14:checked~#slides>div #image-15,
#slider #button-14:checked~#slides>div #image-16,
#slider #button-14:checked~#slides>div #image-17,
#slider #button-14:checked~#slides>div #image-18,
#slider #button-14:checked~#slides>div #image-19,
#slider #button-14:checked~#slides>div #image-20,


#slider #button-15:checked~#slides>div #image-16,
#slider #button-15:checked~#slides>div #image-17,
#slider #button-15:checked~#slides>div #image-18,
#slider #button-15:checked~#slides>div #image-19,
#slider #button-15:checked~#slides>div #image-20,


#slider #button-16:checked~#slides>div #image-17,
#slider #button-16:checked~#slides>div #image-18,
#slider #button-16:checked~#slides>div #image-19,
#slider #button-16:checked~#slides>div #image-20,


#slider #button-17:checked~#slides>div #image-18,
#slider #button-17:checked~#slides>div #image-19,
#slider #button-17:checked~#slides>div #image-20,


#slider #button-18:checked~#slides>div #image-19,
#slider #button-18:checked~#slides>div #image-20,


#slider #button-19:checked~#slides>div #image-20 {
    -webkit-transform: rotateY(-10deg) scale(0.8) translateX(-10%);
    transform: rotateY(-30deg) scale(0.8) translateX(-10%);
    z-index: 0;
}

#slider #button-2:checked~#slides>div #image-1,

#slider #button-3:checked~#slides>div #image-2,
#slider #button-3:checked~#slides>div #image-1,

#slider #button-4:checked~#slides>div #image-3,
#slider #button-4:checked~#slides>div #image-2,
#slider #button-4:checked~#slides>div #image-1,

#slider #button-5:checked~#slides>div #image-4,
#slider #button-5:checked~#slides>div #image-3,
#slider #button-5:checked~#slides>div #image-2,
#slider #button-5:checked~#slides>div #image-1,

#slider #button-6:checked~#slides>div #image-5,
#slider #button-6:checked~#slides>div #image-4,
#slider #button-6:checked~#slides>div #image-3,
#slider #button-6:checked~#slides>div #image-2,
#slider #button-6:checked~#slides>div #image-1,

#slider #button-7:checked~#slides>div #image-6,
#slider #button-7:checked~#slides>div #image-5,
#slider #button-7:checked~#slides>div #image-4,
#slider #button-7:checked~#slides>div #image-3,
#slider #button-7:checked~#slides>div #image-2,
#slider #button-7:checked~#slides>div #image-1,

#slider #button-8:checked~#slides>div #image-7,
#slider #button-8:checked~#slides>div #image-6,
#slider #button-8:checked~#slides>div #image-5,
#slider #button-8:checked~#slides>div #image-4,
#slider #button-8:checked~#slides>div #image-3,
#slider #button-8:checked~#slides>div #image-2,
#slider #button-8:checked~#slides>div #image-1,

#slider #button-9:checked~#slides>div #image-8,
#slider #button-9:checked~#slides>div #image-7,
#slider #button-9:checked~#slides>div #image-6,
#slider #button-9:checked~#slides>div #image-5,
#slider #button-9:checked~#slides>div #image-4,
#slider #button-9:checked~#slides>div #image-3,
#slider #button-9:checked~#slides>div #image-2,
#slider #button-9:checked~#slides>div #image-1,

#slider #button-10:checked~#slides>div #image-9,
#slider #button-10:checked~#slides>div #image-8,
#slider #button-10:checked~#slides>div #image-7,
#slider #button-10:checked~#slides>div #image-6,
#slider #button-10:checked~#slides>div #image-5,
#slider #button-10:checked~#slides>div #image-4,
#slider #button-10:checked~#slides>div #image-3,
#slider #button-10:checked~#slides>div #image-2,
#slider #button-10:checked~#slides>div #image-1,

#slider #button-11:checked~#slides>div #image-10,
#slider #button-11:checked~#slides>div #image-9,
#slider #button-11:checked~#slides>div #image-8,
#slider #button-11:checked~#slides>div #image-7,
#slider #button-11:checked~#slides>div #image-6,
#slider #button-11:checked~#slides>div #image-5,
#slider #button-11:checked~#slides>div #image-4,
#slider #button-11:checked~#slides>div #image-3,
#slider #button-11:checked~#slides>div #image-2,
#slider #button-11:checked~#slides>div #image-1,

#slider #button-12:checked~#slides>div #image-11,
#slider #button-12:checked~#slides>div #image-10,
#slider #button-12:checked~#slides>div #image-9,
#slider #button-12:checked~#slides>div #image-8,
#slider #button-12:checked~#slides>div #image-7,
#slider #button-12:checked~#slides>div #image-6,
#slider #button-12:checked~#slides>div #image-5,
#slider #button-12:checked~#slides>div #image-4,
#slider #button-12:checked~#slides>div #image-3,
#slider #button-12:checked~#slides>div #image-2,
#slider #button-12:checked~#slides>div #image-1,

#slider #button-13:checked~#slides>div #image-12,
#slider #button-13:checked~#slides>div #image-11,
#slider #button-13:checked~#slides>div #image-10,
#slider #button-13:checked~#slides>div #image-9,
#slider #button-13:checked~#slides>div #image-8,
#slider #button-13:checked~#slides>div #image-7,
#slider #button-13:checked~#slides>div #image-6,
#slider #button-13:checked~#slides>div #image-5,
#slider #button-13:checked~#slides>div #image-4,
#slider #button-13:checked~#slides>div #image-3,
#slider #button-13:checked~#slides>div #image-2,
#slider #button-13:checked~#slides>div #image-1,

#slider #button-14:checked~#slides>div #image-13,
#slider #button-14:checked~#slides>div #image-12,
#slider #button-14:checked~#slides>div #image-11,
#slider #button-14:checked~#slides>div #image-10,
#slider #button-14:checked~#slides>div #image-9,
#slider #button-14:checked~#slides>div #image-8,
#slider #button-14:checked~#slides>div #image-7,
#slider #button-14:checked~#slides>div #image-6,
#slider #button-14:checked~#slides>div #image-5,
#slider #button-14:checked~#slides>div #image-4,
#slider #button-14:checked~#slides>div #image-3,
#slider #button-14:checked~#slides>div #image-2,
#slider #button-14:checked~#slides>div #image-1,

#slider #button-15:checked~#slides>div #image-14,
#slider #button-15:checked~#slides>div #image-13,
#slider #button-15:checked~#slides>div #image-12,
#slider #button-15:checked~#slides>div #image-11,
#slider #button-15:checked~#slides>div #image-10,
#slider #button-15:checked~#slides>div #image-9,
#slider #button-15:checked~#slides>div #image-8,
#slider #button-15:checked~#slides>div #image-7,
#slider #button-15:checked~#slides>div #image-6,
#slider #button-15:checked~#slides>div #image-5,
#slider #button-15:checked~#slides>div #image-4,
#slider #button-15:checked~#slides>div #image-3,
#slider #button-15:checked~#slides>div #image-2,
#slider #button-15:checked~#slides>div #image-1,

#slider #button-16:checked~#slides>div #image-15,
#slider #button-16:checked~#slides>div #image-14,
#slider #button-16:checked~#slides>div #image-13,
#slider #button-16:checked~#slides>div #image-12,
#slider #button-16:checked~#slides>div #image-11,
#slider #button-16:checked~#slides>div #image-10,
#slider #button-16:checked~#slides>div #image-9,
#slider #button-16:checked~#slides>div #image-8,
#slider #button-16:checked~#slides>div #image-7,
#slider #button-16:checked~#slides>div #image-6,
#slider #button-16:checked~#slides>div #image-5,
#slider #button-16:checked~#slides>div #image-4,
#slider #button-16:checked~#slides>div #image-3,
#slider #button-16:checked~#slides>div #image-2,
#slider #button-16:checked~#slides>div #image-1,

#slider #button-17:checked~#slides>div #image-16,
#slider #button-17:checked~#slides>div #image-15,
#slider #button-17:checked~#slides>div #image-14,
#slider #button-17:checked~#slides>div #image-13,
#slider #button-17:checked~#slides>div #image-12,
#slider #button-17:checked~#slides>div #image-11,
#slider #button-17:checked~#slides>div #image-10,
#slider #button-17:checked~#slides>div #image-9,
#slider #button-17:checked~#slides>div #image-8,
#slider #button-17:checked~#slides>div #image-7,
#slider #button-17:checked~#slides>div #image-6,
#slider #button-17:checked~#slides>div #image-5,
#slider #button-17:checked~#slides>div #image-4,
#slider #button-17:checked~#slides>div #image-3,
#slider #button-17:checked~#slides>div #image-2,
#slider #button-17:checked~#slides>div #image-1,

#slider #button-18:checked~#slides>div #image-17,
#slider #button-18:checked~#slides>div #image-16,
#slider #button-18:checked~#slides>div #image-15,
#slider #button-18:checked~#slides>div #image-14,
#slider #button-18:checked~#slides>div #image-13,
#slider #button-18:checked~#slides>div #image-12,
#slider #button-18:checked~#slides>div #image-11,
#slider #button-18:checked~#slides>div #image-10,
#slider #button-18:checked~#slides>div #image-9,
#slider #button-18:checked~#slides>div #image-8,
#slider #button-18:checked~#slides>div #image-7,
#slider #button-18:checked~#slides>div #image-6,
#slider #button-18:checked~#slides>div #image-5,
#slider #button-18:checked~#slides>div #image-4,
#slider #button-18:checked~#slides>div #image-3,
#slider #button-18:checked~#slides>div #image-2,
#slider #button-18:checked~#slides>div #image-1,

#slider #button-19:checked~#slides>div #image-18,
#slider #button-19:checked~#slides>div #image-17,
#slider #button-19:checked~#slides>div #image-16,
#slider #button-19:checked~#slides>div #image-15,
#slider #button-19:checked~#slides>div #image-14,
#slider #button-19:checked~#slides>div #image-13,
#slider #button-19:checked~#slides>div #image-12,
#slider #button-19:checked~#slides>div #image-11,
#slider #button-19:checked~#slides>div #image-10,
#slider #button-19:checked~#slides>div #image-9,
#slider #button-19:checked~#slides>div #image-8,
#slider #button-19:checked~#slides>div #image-7,
#slider #button-19:checked~#slides>div #image-6,
#slider #button-19:checked~#slides>div #image-5,
#slider #button-19:checked~#slides>div #image-4,
#slider #button-19:checked~#slides>div #image-3,
#slider #button-19:checked~#slides>div #image-2,
#slider #button-19:checked~#slides>div #image-1,

#slider #button-20:checked~#slides>div #image-19,
#slider #button-20:checked~#slides>div #image-18,
#slider #button-20:checked~#slides>div #image-17,
#slider #button-20:checked~#slides>div #image-16,
#slider #button-20:checked~#slides>div #image-15,
#slider #button-20:checked~#slides>div #image-14,
#slider #button-20:checked~#slides>div #image-13,
#slider #button-20:checked~#slides>div #image-12,
#slider #button-20:checked~#slides>div #image-11,
#slider #button-20:checked~#slides>div #image-10,
#slider #button-20:checked~#slides>div #image-9,
#slider #button-20:checked~#slides>div #image-8,
#slider #button-20:checked~#slides>div #image-7,
#slider #button-20:checked~#slides>div #image-6,
#slider #button-20:checked~#slides>div #image-5,
#slider #button-20:checked~#slides>div #image-4,
#slider #button-20:checked~#slides>div #image-3,
#slider #button-20:checked~#slides>div #image-2,
#slider #button-20:checked~#slides>div #image-1 {
    -webkit-transform: rotateY(10deg) scale(0.8) translateX(10%);
    transform: rotateY(30deg) scale(0.8) translateX(10%);
    z-index: 0;
}



/* .. and finally, move the slides into the correct position when the user clicks the arrow, so the right
      slide is selected */

#slider #button-1:checked~#slides>div>span {
    left: 7.5%
}

#slider #button-2:checked~#slides>div>span {
    left: 2.5%
}

#slider #button-3:checked~#slides>div>span {
    left: -2.5%
}

#slider #button-4:checked~#slides>div>span {
    left: -7.5%
}

#slider #button-5:checked~#slides>div>span {
    left: -12.5%
}


#slider #button-6:checked~#slides>div>span {

    left: -17.5%
}

#slider #button-7:checked~#slides>div>span {
    left: -22.5%
}

#slider #button-8:checked~#slides>div>span {
    left: -27.5%
}

#slider #button-9:checked~#slides>div>span {
    left: -32.5%
}

#slider #button-10:checked~#slides>div>span {
    left: -37.5%
}

#slider #button-11:checked~#slides>div>span {
    left: -42.5%
}

#slider #button-12:checked~#slides>div>span {
    left: -47.5%
}

#slider #button-13:checked~#slides>div>span {
    left: -52.5%
}

#slider #button-14:checked~#slides>div>span {
    left: -57.5%
}

#slider #button-15:checked~#slides>div>span {
    left: -62.5%
}

#slider #button-16:checked~#slides>div>span {
    left: -67.5%
}

#slider #button-17:checked~#slides>div>span {
    left: -72.5%
}

#slider #button-18:checked~#slides>div>span {
    left: -77.5%
}

#slider #button-19:checked~#slides>div>span {
    left: -82.5%
}

#slider #button-20:checked~#slides>div>span {
    left: -87.5%
}


/***********************************************************/

/* ================ Content ================ */

/***********************************************************/

.content {
    position: absolute;
    left: 50%;
    top: 33vw;
    width: 70%;
    height: 380px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
}

.content input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    /* Remove input from document flow */

}

.content label {
    transition: .8s;
    transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
    color: white;
    cursor: pointer;
}

/* .content label h3 {
    border: .5px solid #fff;
} */

.img1Cont>label.you,
.img2Cont>label.you,
.img3Cont>label.you,
.img4Cont>label.you,
.img5Cont>label .you, 
.img6Cont>label.you,
.img7Cont>label.you,
.img8Cont>label.you,
.img9Cont>label.you,
.img10Cont>label.you, 
.img11Cont>label.you,
.img12Cont>label.you,
.img13Cont>label.you,
.img14Cont>label.you,
.img15Cont>label.you, 
.img16Cont>label.you,
.img17Cont>label.you,
.img18Cont>label.you,
.img19Cont>label.you,
.img20Cont>label.you {
    padding: 1em;
}

.img1Cont>label.do,
.img2Cont>label.do,
.img3Cont>label.do,
.img4Cont>label.do,
.img5Cont>label.do,
.img6Cont>label.do,
.img7Cont>label.do,
.img8Cont>label.do,
.img9Cont>label.do,
.img10Cont>label.do, 
.img11Cont>label.do,
.img12Cont>label.do,
.img13Cont>label.do,
.img14Cont>label.do,
.img15Cont>label.do, 
.img16Cont>label.do,
.img17Cont>label.do,
.img18Cont>label.do,
.img19Cont>label.do,
.img20Cont>label.do {
    padding: 1em;
}

.img1Cont>label.mot,
.img2Cont>label.mot,
.img3Cont>label.mot,
.img4Cont>label.mot,
.img5Cont>label.mot, 
.img6Cont>label.mot,
.img7Cont>label.mot,
.img8Cont>label.mot,
.img9Cont>label.mot,
.img10Cont>label.mot,  
.img11Cont>label.mot,
.img12Cont>label.mot,
.img13Cont>label.mot,
.img14Cont>label.mot,
.img15Cont>label.mot, 
.img16Cont>label.mot,
.img17Cont>label.mot,
.img18Cont>label.mot,
.img19Cont>label.mot,
.img20Cont>label.you {
    padding: 1em;
}

.you {
    position: absolute;
    background-color: rgb(0, 134, 158);
    opacity: 1;
    right: 200px;
    height: 280px;
    width: 100%;
    transform: translateX(10%);
    clip-path: polygon(90% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
}

.do {
    position: absolute;
    opacity: .60;
    right: 140px;
    background-color: rgb(248, 107, 6);
    height: 280px;
    width: 100%;
    transform: translateX(10%);
    clip-path: polygon(90% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
}

.mot {
    position: absolute;
    background-color: rgb(28, 222, 126);
    opacity: .60;
    right: 80px;
    height: 280px;
    width: 100%;
    transform: translateX(10%);
    clip-path: polygon(90% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
}

.img1Cont>#toggleYou1:checked+.you,
.img2Cont>#toggleYou2:checked+.you,
.img3Cont>#toggleYou3:checked+.you,
.img4Cont>#toggleYou4:checked+.you,
.img5Cont>#toggleYou5:checked+.you,
.img6Cont>#toggleYou6:checked+.you,
.img7Cont>#toggleYou7:checked+.you,
.img8Cont>#toggleYou8:checked+.you,
.img9Cont>#toggleYou9:checked+.you,
.img10Cont>#toggleYou10:checked+.you,
.img11Cont>#toggleYou11:checked+.you,
.img12Cont>#toggleYou12:checked+.you,
.img13Cont>#toggleYou13:checked+.you,
.img14Cont>#toggleYou14:checked+.you,
.img15Cont>#toggleYou15:checked+.you,
.img16Cont>#toggleYou16:checked+.you,
.img17Cont>#toggleYou17:checked+.you,
.img18Cont>#toggleYou18:checked+.you,
.img19Cont>#toggleYou19:checked+.you,
.img200Cont>#toggleYou20:checked+.you {
    opacity: 1;

}

.img1Cont>#toggleYou1:checked~.do,
.img2Cont>#toggleYou2:checked~.do,
.img3Cont>#toggleYou3:checked~.do,
.img4Cont>#toggleYou4:checked~.do,
.img5Cont>#toggleYou5:checked~.do,
.img6Cont>#toggleYou6:checked~.do,
.img7Cont>#toggleYou7:checked~.do,
.img8Cont>#toggleYou8:checked~.do,
.img9Cont>#toggleYou9:checked~.do,
.img10Cont>#toggleYou10:checked~.do,
.img11Cont>#toggleYou11:checked~.do,
.img12Cont>#toggleYou12:checked~.do,
.img13Cont>#toggleYou13:checked~.do,
.img14Cont>#toggleYou14:checked~.do,
.img15Cont>#toggleYou15:checked~.do,
.img16Cont>#toggleYou16:checked~.do,
.img17Cont>#toggleYou17:checked~.do,
.img18Cont>#toggleYou18:checked~.do,
.img19Cont>#toggleYou19:checked~.do,
.img20Cont>#toggleYou10:checked~.do {
    opacity: .6;

}

.img1Cont>#toggleYou1:checked~.mot,
.img2Cont>#toggleYou2:checked~.mot,
.img3Cont>#toggleYou3:checked~.mot,
.img4Cont>#toggleYou4:checked~.mot,
.img5Cont>#toggleYou5:checked~.mot,
.img6Cont>#toggleYou6:checked~.mot,
.img7Cont>#toggleYou7:checked~.mot,
.img8Cont>#toggleYou8:checked~.mot,
.img9Cont>#toggleYou9:checked~.mot,
.img10Cont>#toggleYou10:checked~.mot,
.img11Cont>#toggleYou11:checked~.mot,
.img12Cont>#toggleYou12:checked~.mot,
.img13Cont>#toggleYou13:checked~.mot,
.img14Cont>#toggleYou14:checked~.mot,
.img15Cont>#toggleYou15:checked~.mot,
.img16Cont>#toggleYou16:checked~.mot,
.img17Cont>#toggleYou17:checked~.mot,
.img18Cont>#toggleYou18:checked~.mot,
.img19Cont>#toggleYou19:checked~.mot,
.img20Cont>#toggleYou20:checked~.mot {
    opacity: .6;

}

.img1Cont>#toggleDoing1:checked~.you,
.img2Cont>#toggleDoing2:checked~.you,
.img3Cont>#toggleDoing3:checked~.you,
.img4Cont>#toggleDoing4:checked~.you,
.img5Cont>#toggleDoing5:checked~.you,
.img6Cont>#toggleDoing6:checked~.you,
.img7Cont>#toggleDoing7:checked~.you,
.img8Cont>#toggleDoing8:checked~.you,
.img9Cont>#toggleDoing9:checked~.you,
.img10Cont>#toggleDoing10:checked~.you,
.img11Cont>#toggleDoing11:checked~.you,
.img12Cont>#toggleDoing12:checked~.you,
.img13Cont>#toggleDoing13:checked~.you,
.img14Cont>#toggleDoing14:checked~.you,
.img15Cont>#toggleDoing15:checked~.you,
.img16Cont>#toggleDoing16:checked~.you,
.img17Cont>#toggleDoing17:checked~.you,
.img18Cont>#toggleDoing18:checked~.you,
.img19Cont>#toggleDoing19:checked~.you,
.img20Cont>#toggleDoing20:checked~.you {
    opacity: .6;
    right: 720px;
}

.img1Cont>#toggleDoing1:checked+.do,
.img2Cont>#toggleDoing2:checked+.do,
.img3Cont>#toggleDoing3:checked+.do,
.img4Cont>#toggleDoing4:checked+.do,
.img5Cont>#toggleDoing5:checked+.do,
.img6Cont>#toggleDoing6:checked+.do,
.img7Cont>#toggleDoing7:checked+.do,
.img8Cont>#toggleDoing8:checked+.do,
.img9Cont>#toggleDoing9:checked+.do,
.img10Cont>#toggleDoing10:checked+.do,
.img11Cont>#toggleDoing11:checked+.do,
.img12Cont>#toggleDoing12:checked+.do,
.img13Cont>#toggleDoing13:checked+.do,
.img14Cont>#toggleDoing14:checked+.do,
.img15Cont>#toggleDoing15:checked+.do,
.img16Cont>#toggleDoing16:checked+.do,
.img17Cont>#toggleDoing17:checked+.do,
.img18Cont>#toggleDoing18:checked+.do,
.img19Cont>#toggleDoing19:checked+.do,
.img20Cont>#toggleDoing20:checked+.do {
    opacity: 1;

}

.img1Cont>#toggleDoing1:checked~.mot,
.img2Cont>#toggleDoing2:checked~.mot,
.img3Cont>#toggleDoing3:checked~.mot,
.img4Cont>#toggleDoing4:checked~.mot,
.img5Cont>#toggleDoing5:checked~.mot,
.img6Cont>#toggleDoing6:checked~.mot,
.img7Cont>#toggleDoing7:checked~.mot,
.img8Cont>#toggleDoing8:checked~.mot,
.img9Cont>#toggleDoing9:checked~.mot,
.img10Cont>#toggleDoing10:checked~.mot,
.img11Cont>#toggleDoing11:checked~.mot,
.img12Cont>#toggleDoing12:checked~.mot,
.img13Cont>#toggleDoing13:checked~.mot,
.img14Cont>#toggleDoing14:checked~.mot,
.img15Cont>#toggleDoing15:checked~.mot,
.img16Cont>#toggleDoing16:checked~.mot,
.img17Cont>#toggleDoing17:checked~.mot,
.img18Cont>#toggleDoing18:checked~.mot,
.img19Cont>#toggleDoing19:checked~.mot,
.img20Cont>#toggleDoing20:checked~.mot {
    opacity: .6;
}

.img1Cont>#toggleMot1:checked~.you,
.img2Cont>#toggleMot2:checked~.you,
.img3Cont>#toggleMot3:checked~.you,
.img4Cont>#toggleMot4:checked~.you,
.img5Cont>#toggleMot5:checked~.you,
.img6Cont>#toggleMot6:checked~.you,
.img7Cont>#toggleMot7:checked~.you,
.img8Cont>#toggleMot8:checked~.you,
.img9Cont>#toggleMot9:checked~.you,
.img10Cont>#toggleMot10:checked~.you,
.img11Cont>#toggleMot11:checked~.you,
.img12Cont>#toggleMot12:checked~.you,
.img13Cont>#toggleMot13:checked~.you,
.img14Cont>#toggleMot14:checked~.you,
.img15Cont>#toggleMot15:checked~.you,
.img16Cont>#toggleMot16:checked~.you,
.img17Cont>#toggleMot17:checked~.you,
.img18Cont>#toggleMot18:checked~.you,
.img19Cont>#toggleMot19:checked~.you,
.img20Cont>#toggleMot20:checked~.you {
    opacity: .6;
    right: 720px;
}

.img1Cont>#toggleMot1:checked~.do,
.img2Cont>#toggleMot2:checked~.do,
.img3Cont>#toggleMot3:checked~.do,
.img4Cont>#toggleMot4:checked~.do,
.img5Cont>#toggleMot5:checked~.do,
.img6Cont>#toggleMot6:checked~.do,
.img7Cont>#toggleMot7:checked~.do,
.img8Cont>#toggleMot8:checked~.do,
.img9Cont>#toggleMot9:checked~.do,
.img10Cont>#toggleMot10:checked~.do,
.img11Cont>#toggleMot11:checked~.do,
.img12Cont>#toggleMot12:checked~.do,
.img13Cont>#toggleMot13:checked~.do,
.img14Cont>#toggleMot14:checked~.do,
.img15Cont>#toggleMot15:checked~.do,
.img16Cont>#toggleMot16:checked~.do,
.img17Cont>#toggleMot17:checked~.do,
.img18Cont>#toggleMot18:checked~.do,
.img19Cont>#toggleMot19:checked~.do,
.img20Cont>#toggleMot20:checked~.do {
    opacity: .6;
    right: 660px;
}

.img1Cont>#toggleMot1:checked+.mot,
.img2Cont>#toggleMot2:checked+.mot,
.img3Cont>#toggleMot3:checked+.mot,
.img4Cont>#toggleMot4:checked+.mot,
.img5Cont>#toggleMot5:checked+.mot,
.img6Cont>#toggleMot6:checked+.mot,
.img7Cont>#toggleMot7:checked+.mot,
.img8Cont>#toggleMot8:checked+.mot,
.img9Cont>#toggleMot9:checked+.mot,
.img10Cont>#toggleMot10:checked+.mot,
.img11Cont>#toggleMot11:checked+.mot,
.img12Cont>#toggleMot12:checked+.mot,
.img13Cont>#toggleMot13:checked+.mot,
.img14Cont>#toggleMot14:checked+.mot,
.img15Cont>#toggleMot15:checked+.mot,
.img16Cont>#toggleMot16:checked+.mot,
.img17Cont>#toggleMot17:checked+.mot,
.img18Cont>#toggleMot18:checked+.mot,
.img19Cont>#toggleMot19:checked+.mot,
.img20Cont>#toggleMot20:checked+.mot {
    opacity: 1;
}

.you>h3 {
    position: absolute;
    right: 3%;
    top: 15px;
    transform: rotate(58deg);
    transform-origin: 0 0;
    text-align: right;
}

.do>h3 {
    position: absolute;
    right: 3%;
    top: 15px;
    transform: rotate(58deg);
    transform-origin: 0 0;
    text-align: right;
}


.mot>h3 {
    position: absolute;
    right: 3%;
    top: 15px;
    transform: rotate(58deg);
    text-align: right;
    transform-origin: 0 0;
}

.img1Cont,
.img2Cont,
.img3Cont,
.img4Cont,
.img5Cont,
.img6Cont,
.img7Cont,
.img8Cont,
.img9Cont,
.img10Cont {
    transform: translateY(100px);
    opacity: 0;
    transition: opacity .8s, transform .8s;
}

#button-1:checked~.content>.img1Cont,
#button-2:checked~.content>.img2Cont,
#button-3:checked~.content>.img3Cont,
#button-4:checked~.content>.img4Cont,
#button-5:checked~.content>.img5Cont,
#button-6:checked~.content>.img6Cont,
#button-7:checked~.content>.img7Cont,
#button-8:checked~.content>.img8Cont,
#button-9:checked~.content>.img9Cont,
#button-10:checked~.content>.img10Cont {
    transform: translateY(0px);
    opacity: 1;
}

/***********************************************************/

/* ================ Slider ================ */

/***********************************************************/



.footer-distributed {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* Future Developers Logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* .footer-distributed h3:hover {
    font-size: 52px;
} */


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-center i:hover {
    background-color: orangered;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right Side */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-icons a:hover {
    background-color: orangered;
}

/* RESPONSIVE SECTION */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}